<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/style_in.css">
  <title>Formulario Registro</title>
</head>
<body>

    

  <section class="form-register">
    <h1>Formulario de Registro</h1>

<form action="make_complaint" method="POST">
    
    <input class="controls" type="text" name="address" id="nombres" placeholder="Ingrese su Address">
    
    <input class="controls" type="text" name="vehicle_reported" id="vehicle_reported" placeholder="Ingrese la Matricula">
     
    <input class="controls" type="date" name="date" id="date" min="2020-01-01" max="2023-05-28" placeholder="Ingrese la Fecha y Hora">
    
    <input class="controls" type="time" name="time" id="time"  placeholder="Ingrese la Fecha y Hora">
    
    <select class="controls" type="list" name="list" id="list" placeholder="Ingrese su Municipio">
        <option value="">Seleccione un municipio</option>
            <option value="municipio1">Apodaca</option>
            <option value="municipio2">Escobedo</option>
            <option value="municipio3">Garcia</option>
            <option value="municipio4">Juárez</option>
            <option value="municipio5">Monterrey</option>
            <option value="municipio6">San Nicolas</option>
            <option value="municipio7">San Pedro</option>
            <option value="municipio8">Santa Catarina</option>

    <input class="controls" type="text" name="street" id="street" placeholder="Ingrese su Calle">

    <input class="controls" type="text" name="reference" id="reference" placeholder="Ingrese su Referencias">
    
    <input class="controls" type="text" name="complaint" id="complait" placeholder="Descripcion de la Denuncia">
    
    <input class="botons" type="submit" value="Registrar">
    
    <p><a href="#">¿Ya tengo Cuenta?</a></p>



</form>
  </section>
   



<!----------------------------------------------------------------------------------->



    
<section id="Plataformas"class="content sau">

    <h2 class="title">Plataformas</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing 
        elit. Veritatis excepturi dolore, harum asperiores 
        cupiditate officiis quia odit reiciendis quidem iure 
        architecto laudantium 
        nihil saepe pariatur vel labore molestias consectetur veniam?</p>
    
    <div class="box-container">

        <div class="box">
            <i class="fab fa-windows"></i>
            <h3>WINDOWS</h3>
            <p>labore molestias consectetur veniam</p>
        </div>
        <div class="box">
            <i class="fab fa-apple"></i>
            <h3>IOS</h3>
            <p>labore molestias consectetur veniam</p>
        </div>
        <div class="box">
            <i class="fab fa-android"></i>
            <h3>ANDROID</h3>
            <p>labore molestias consectetur veniam</p>
        </div>

    </div>

</section>

<section class="content about">

    <h2 class="title">Nosotros</h2>
    <p>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Ut soluta similique 
        quia reprehenderit eligendi aliquam. Sit 
        odio impedit quibusdam. Velit corporis, 
        optio debitis quidem ex ipsam rerum dolorem autem sequi.
    </p>

    <a href="#" class="btn">Saber mas</a>

</section>
<section class="geographic_range">
    <h2 class="title">Rango Geografico</h2>
    <figure class="map">
        <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1839066.3888144505!2d-101.59334426740719!3d25.80599745389968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662a377e498af83%3A0xde5ad0f0777ed7c!2sZona%20metropolitana%20de%20Monterrey%2C%20N.L.!5e0!3m2!1ses-419!2smx!4v1685217253781!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </figure>
</section>
<script src="script_2.js"> </script>

</body>
</html>

